<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Jan K. Pluta">
  <meta name="description" content="Jan K. Pluta">
  <link rel="stylesheet" href="<%- base %>/css/<%- theme %>.css">
  <title><%= title %></title>
<% if (target === 'www') { %>  
  <script src="<%- base %>/js/renderer.js"></script>
  <script src="<%- base %>/js/renderer-<%= target %>.js"></script>
<% } else { %>
  <script>
    require('<%- base %>/js/renderer')
    require('<%- base %>/js/renderer-<%= target %>')
  </script>
<% }%>
  <style>
    dl { margin-left: 2em; }
  </style>
</head>
